@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
.owl-carousel .owl-stage-outer .owl-stage {
  margin: 0 auto;
}
.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 64px;
  width: 64px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-in-out;
}
.owl-carousel .owl-nav button .fa {
  position: relative;
  font-size: 28px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev .fa {
  left: -2px;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-carousel .owl-nav button.owl-next .fa {
  right: -2px;
}
.owl-carousel .owl-nav button:focus {
  outline: none;
}
.owl-carousel .owl-nav button:hover {
  transform: translateY(-50%) scale(1.1);
}
.owl-carousel .owl-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-dots button {
  height: 10px;
  width: 10px;
  border-radius: 100px;
  border: 2px solid #13151a;
  margin: 0 3px;
}
.owl-carousel .owl-dots button.active {
  background: #13151a;
}
.owl-carousel .owl-dots button:focus {
  outline: none;
}

.blue-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #294071;
  border-radius: 3px;
  height: 40px;
  max-width: 169px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.3703703704vw + 10.8148148148px);
  transition: all 0.25s ease-in-out;
  border: 2px solid #294071;
}
@media (max-width: 320px) {
  .blue-btn {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .blue-btn {
    font-size: 16px;
  }
}
.blue-btn .arrow-icon {
  transition: all 0.25s ease-in-out;
}
.blue-btn:hover {
  color: #1a73e8;
  border-color: #1a73e8;
  background: transparent;
}
.blue-btn:hover .arrow-icon {
  filter: invert(1);
}

.learn-btn, .white-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #294071;
  color: #294071;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  background: #fff;
  transition: all 0.25s ease-in-out;
}
.learn-btn:hover, .white-btn:hover {
  border-color: gray;
  color: gray;
}

.claims-btn {
  height: 40px;
  max-width: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #294071;
  color: #294071;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}
.claims-btn:hover {
  border-color: gray;
  color: gray;
}

.arrow-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/arrow-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.arrow-icon-black {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/arrow-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  filter: invert(1);
}

.visit-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/visit-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.l-header {
  width: 100%;
  height: 72px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.l-header .navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .l-header .navigation-container {
    justify-content: center;
  }
}
.l-header .navigation-container .nav-block {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.l-header .navigation-container .nav-block ul.menu {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .l-header .navigation-container .nav-block ul.menu {
    display: none;
  }
}
.l-header .navigation-container .nav-block ul.menu li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.l-header .navigation-container .nav-block ul.menu li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: #13151a;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-weight: 600;
}
.l-header .navigation-container .nav-block ul.menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  height: 2px;
  width: 0;
  background: #f6a75d;
  transition: all 0.3s ease-in-out;
}
.l-header .navigation-container .nav-block ul.menu li a:hover:before, .l-header .navigation-container .nav-block ul.menu li a.active:before, .l-header .navigation-container .nav-block ul.menu li a.nav-active:before {
  width: 100%;
}
@media (max-width: 767px) {
  .l-header .navigation-container .nav-block .download-report {
    display: none;
  }
}
.l-header .navigation-container .nav-block .menu-icon {
  display: inline-block;
  width: 25px;
  height: 15px;
  cursor: pointer;
  margin: 0;
  outline: 0;
  position: relative;
}
@media (min-width: 768px) {
  .l-header .navigation-container .nav-block .menu-icon {
    display: none;
  }
}
.l-header .navigation-container .nav-block .menu-icon > span {
  background: #000;
  cursor: pointer;
  border-radius: 2px;
  height: 2px;
  width: 20px;
  position: relative;
  display: block;
  margin: 0;
  text-indent: -9999em;
}
.l-header .navigation-container .nav-block .menu-icon > span:nth-child(1) {
  top: 0;
}
.l-header .navigation-container .nav-block .menu-icon > span:nth-child(2) {
  top: 4px;
}
.l-header .navigation-container .nav-block .menu-icon > span:nth-child(3) {
  top: 8px;
}
.l-header .navigation-container .nav-block .menu-icon.active > span:nth-child(2) {
  background-color: transparent;
}
.l-header .navigation-container .nav-block .menu-icon.active > span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}
.l-header .navigation-container .nav-block .menu-icon.active > span:nth-child(3) {
  top: 2px;
  transform: rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  top: 72px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 20px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  transform: translateX(0);
}
.mobile-menu ul.menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
  padding: 0 15px;
}
.mobile-menu ul.menu li {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.mobile-menu ul.menu li select, .mobile-menu ul.menu li select option, .mobile-menu ul.menu li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: #13151a;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-weight: 600;
  font-family: "Source Sans Pro";
  padding-bottom: 10px;
}
.mobile-menu ul.menu li select:before, .mobile-menu ul.menu li select option:before, .mobile-menu ul.menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #f6a75d;
  transition: all 0.3s ease-in-out;
}
.mobile-menu ul.menu li select:hover:before, .mobile-menu ul.menu li select.active:before, .mobile-menu ul.menu li select.nav-active:before, .mobile-menu ul.menu li select option:hover:before, .mobile-menu ul.menu li select option.active:before, .mobile-menu ul.menu li select option.nav-active:before, .mobile-menu ul.menu li a:hover:before, .mobile-menu ul.menu li a.active:before, .mobile-menu ul.menu li a.nav-active:before {
  width: 100%;
}
.mobile-menu ul.menu li select {
  border: none;
  position: relative;
  left: -3px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #000;
}
.mobile-menu ul.menu li select:focus {
  border: none;
  outline: none;
}

.nav-state-reports {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background: #f2f4f8;
  padding: 25px 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.nav-state-reports.active {
  opacity: 1;
  visibility: visible;
}
.nav-state-reports a {
  display: block;
}
.nav-state-reports a img {
  width: 100%;
  margin-bottom: 15px;
}
.nav-state-reports a .case-name {
  color: #13151a;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
}
.nav-state-reports a .case-location {
  font-size: 14px;
  color: #13151a;
  line-height: 1;
}
.nav-state-reports .container {
  max-width: 100%;
  width: 95%;
}
.nav-state-reports .container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}
.nav-state-reports .container ul .column {
  width: calc(100% / 9);
}
.nav-state-reports .container ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
.nav-state-reports .container ul li a {
  font-size: 16px;
  color: #6b6b6b;
  height: 35px;
  position: relative;
  display: inherit;
  transition: all 0.3s ease-in-out;
}
.nav-state-reports .container ul li a:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 2px;
  width: 0;
  background: #f6a75d;
  transition: all 0.3s ease-in-out;
}
.nav-state-reports .container ul li a:hover:before, .nav-state-reports .container ul li a.active:before {
  width: 100%;
}

.mailing-list {
  background: #294071;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
@media (max-width: 767px) {
  .mailing-list {
    padding: 50px 0;
  }
}
.mailing-list .form_container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}
.mailing-list .form_container .form_title {
  width: 100%;
}
.mailing-list .form_container .form_title h2 {
  text-align: center;
  color: #fff;
  font-size: calc(0.7407407407vw + 25.6296296296px);
  font-weight: 600;
  max-width: 920px;
  margin: 0 0 25px;
}
@media (max-width: 320px) {
  .mailing-list .form_container .form_title h2 {
    font-size: 28px;
  }
}
@media (min-width: 1400px) {
  .mailing-list .form_container .form_title h2 {
    font-size: 36px;
  }
}
.mailing-list .form_container .form_title h4 {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  max-width: 920px;
  margin: 0 0 25px;
}
.mailing-list .form_container form {
  max-width: 650px;
  margin: 0 auto;
}
.mailing-list .form_container form .form-fields {
  display: flex;
  flex-wrap: wrap;
}
.mailing-list .form_container form .form-fields .fields {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .mailing-list .form_container form .form-fields .fields {
    width: 100%;
  }
}
.mailing-list .form_container form .form-fields .fields label {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.mailing-list .form_container form .form-fields input[type=text] {
  width: 95%;
  background: #5089c1;
  height: 40px;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding-left: 5px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .mailing-list .form_container form .form-fields input[type=text] {
    width: 100%;
  }
}
.mailing-list .form_container form .form-fields input[type=text]::placeholder {
  color: #fff;
}
.mailing-list .form_container form .form-fields input[type=text]:focus, .mailing-list .form_container form .form-fields input[type=text]:hover {
  outline: none;
}
.mailing-list .form_container form .disclaimer {
  text-align: center;
}
.mailing-list .form_container form .disclaimer p {
  color: #fff;
  font-size: 14px;
}
.mailing-list .form_container form .disclaimer p a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.mailing-list .form_container form .disclaimer p a:hover {
  color: #f6a75d;
}
.mailing-list .form_container form .disclaimer label {
  color: #fff;
  font-size: 14px;
}
.mailing-list .form_container form .form-action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.mailing-list .form_container form .form-action input {
  height: 40px;
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  color: #294071;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border: 2px solid #fff;
}
.mailing-list .form_container form .form-action input:hover {
  color: #fff;
  background: #294071;
}
.mailing-list .form_container #form-messages {
  display: none;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.l-footer {
  background: #f5f5f5;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .l-footer {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
.l-footer .footer-copy p {
  font-size: 14px;
  color: #16131e;
  line-height: 1;
}
.l-footer .footer-copy p a {
  text-decoration: underline;
  color: #16131e;
}
@media (max-width: 767px) {
  .l-footer ul.menu {
    display: none;
  }
}
.l-footer ul.menu li a:before {
  display: none;
}

/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  position: absolute;
  border: 0.22em solid #294071;
  width: 0.56em;
  height: 0.56em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #BED9EC;
}

.c100 *, .c100 *:before, .c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.c100.center {
  float: none;
  margin: 0 auto;
}

.c100.big {
  font-size: 240px;
}

.c100.small {
  font-size: 80px;
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #294071;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.c100:after {
  position: absolute;
  top: 0.22em;
  left: 0.22em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.56em;
  height: 0.56em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}

.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}

.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}

.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}

.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}

.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}

.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}

.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}

.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}

.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}

.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}

.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}

.c100.p13 .bar {
  -webkit-transform: rotate(46.8deg);
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -o-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}

.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}

.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}

.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}

.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}

.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}

.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}

.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}

.c100.p21 .bar {
  -webkit-transform: rotate(75.6deg);
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -o-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}

.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}

.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}

.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}

.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c100.p26 .bar {
  -webkit-transform: rotate(93.6deg);
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -o-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}

.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}

.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}

.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}

.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}

.c100.p31 .bar {
  -webkit-transform: rotate(111.6deg);
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -o-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}

.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}

.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}

.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}

.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}

.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}

.c100.p37 .bar {
  -webkit-transform: rotate(133.2deg);
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -o-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}

.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}

.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}

.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}

.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}

.c100.p42 .bar {
  -webkit-transform: rotate(151.2deg);
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -o-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}

.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}

.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}

.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}

.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}

.c100.p47 .bar {
  -webkit-transform: rotate(169.2deg);
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -o-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}

.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}

.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}

.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}

.c100.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}

.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}

.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}

.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}

.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}

.c100.p57 .bar {
  -webkit-transform: rotate(205.2deg);
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -o-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}

.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}

.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}

.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}

.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}

.c100.p62 .bar {
  -webkit-transform: rotate(223.2deg);
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -o-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}

.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}

.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}

.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}

.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}

.c100.p67 .bar {
  -webkit-transform: rotate(241.2deg);
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -o-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}

.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}

.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}

.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}

.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}

.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}

.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}

.c100.p74 .bar {
  -webkit-transform: rotate(266.4deg);
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -o-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}

.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}

.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}

.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}

.c100.p79 .bar {
  -webkit-transform: rotate(284.4deg);
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -o-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}

.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}

.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}

.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}

.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}

.c100.p84 .bar {
  -webkit-transform: rotate(302.4deg);
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -o-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}

.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}

.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}

.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}

.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}

.c100.p89 .bar {
  -webkit-transform: rotate(320.4deg);
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -o-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}

.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}

.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}

.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}

.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}

.c100.p94 .bar {
  -webkit-transform: rotate(338.4deg);
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -o-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}

.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}

.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}

.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}

.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}

.c100.p99 .bar {
  -webkit-transform: rotate(356.4deg);
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -o-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}

.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.c100:hover {
  cursor: default;
}

.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #294071;
}

.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

.c100.dark {
  background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
  border-color: #c6ff00 !important;
}

.c100.dark > span {
  color: #777777;
}

.c100.dark:after {
  background-color: #666666;
}

.c100.dark:hover > span {
  color: #c6ff00;
}

.c100.green .bar, .c100.green .fill {
  border-color: #4db53c !important;
}

.c100.green:hover > span {
  color: #4db53c;
}

.c100.green.dark .bar, .c100.green.dark .fill {
  border-color: #5fd400 !important;
}

.c100.green.dark:hover > span {
  color: #5fd400;
}

.c100.orange .bar, .c100.orange .fill {
  border-color: #dd9d22 !important;
}

.c100.orange:hover > span {
  color: #dd9d22;
}

.c100.orange.dark .bar, .c100.orange.dark .fill {
  border-color: #e08833 !important;
}

.c100.orange.dark:hover > span {
  color: #e08833;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px;
}

h2 {
  font-weight: 600;
  font-size: calc(0.7407407407vw + 21.6296296296px);
  color: #16131e;
}
@media (max-width: 320px) {
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 32px;
  }
}

.block__title {
  font-size: 36px;
  color: #13151a;
}

p {
  line-height: 32px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.row {
  display: flex;
}
@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }
}
.row .column {
  padding: 0 20px;
}
.row .col-2 {
  width: 50%;
}
@media (max-width: 767px) {
  .row .col-2 {
    width: 100%;
  }
}
.row .col-5 {
  width: 20%;
}
.row .col-4 {
  width: 40%;
}
@media (max-width: 767px) {
  .row .col-4 {
    width: 100%;
  }
}
.row .col-6 {
  width: 60%;
}
@media (max-width: 767px) {
  .row .col-6 {
    width: 100%;
  }
}

.text-link {
  color: #294071;
  font-size: 18px;
}
.text-link:hover {
  color: #000;
}

.img-credit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}
.img-credit-bg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.64);
  border-radius: 3px;
  padding: 5px;
  padding: 5px 10px;
  line-height: 1;
}

.site-logo {
  max-width: 350px;
  width: 100%;
}
@media (max-width: 767px) {
  .site-logo {
    max-width: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.site-logo img {
  width: 100%;
}

section.l-banner {
  position: relative;
  width: 100%;
  margin-top: 72px;
  overflow: hidden;
  height: 542px;
}
section.l-banner .banners .background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
}
section.l-banner .banners .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.l-banner .banners .foreground .container {
  width: 100%;
}
section.l-banner .banners .foreground .banner-copies {
  max-width: 566px;
  padding: 0 20px;
}
section.l-banner .banners .foreground .banner-copies h2 {
  color: #fff;
  font-size: calc(1.4814814815vw + 27.2592592593px);
}
@media (max-width: 320px) {
  section.l-banner .banners .foreground .banner-copies h2 {
    font-size: 32px;
  }
}
@media (min-width: 1400px) {
  section.l-banner .banners .foreground .banner-copies h2 {
    font-size: 48px;
  }
}
section.l-banner .banners .foreground .banner-copies .cta {
  margin-top: 25px;
}
section.l-banner .banners .foreground .banner-copies .cta a {
  border-color: transparent;
  color: #294071;
}
section.l-banner .banners .foreground .banner-copies .cta a span {
  filter: invert(81%) sepia(8%) saturate(4638%) hue-rotate(184deg) brightness(94%) contrast(89%);
}
section.l-banner .banners .foreground .banner-copies .cta a:hover {
  border-color: #000;
}

.l-page {
  height: auto;
  min-height: calc(100vh - 72px);
}
.l-page .intro-container {
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dde1e6;
}
.l-page .intro-container .logos {
  display: flex;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .l-page .intro-container .logos {
    margin-top: 20px;
  }
}
.l-page .intro-container .logos p {
  width: 100%;
  color: #353940;
}
.l-page .intro-container .logos .logos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.l-page .intro-container .logos .logos-wrapper img {
  width: 50%;
  padding: 0 10px;
}

.block-img-chart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .block-img-chart {
    flex-wrap: wrap;
    padding-top: 0;
  }
}
.block-img-chart .chart {
  width: 40%;
  position: relative;
  left: 20px;
  top: 0;
  padding-top: calc(5.5555555556vw + -17.7777777778px);
  padding-bottom: calc(5.5555555556vw + -17.7777777778px);
  padding-left: calc(9.2592592593vw + -29.6296296296px);
  padding-right: calc(9.2592592593vw + -29.6296296296px);
  background: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.27);
  z-index: 1;
}
@media (max-width: 320px) {
  .block-img-chart .chart {
    padding-top: 0px;
  }
}
@media (min-width: 1400px) {
  .block-img-chart .chart {
    padding-top: 60px;
  }
}
@media (max-width: 320px) {
  .block-img-chart .chart {
    padding-bottom: 0px;
  }
}
@media (min-width: 1400px) {
  .block-img-chart .chart {
    padding-bottom: 60px;
  }
}
@media (max-width: 320px) {
  .block-img-chart .chart {
    padding-left: 0px;
  }
}
@media (min-width: 1400px) {
  .block-img-chart .chart {
    padding-left: 100px;
  }
}
@media (max-width: 320px) {
  .block-img-chart .chart {
    padding-right: 0px;
  }
}
@media (min-width: 1400px) {
  .block-img-chart .chart {
    padding-right: 100px;
  }
}
@media (max-width: 767px) {
  .block-img-chart .chart {
    padding: 40px;
  }
}
.block-img-chart .chart .node-chart h1 {
  color: #294071;
  font-size: calc(1.2962962963vw + 21.8518518519px);
  line-height: 1;
}
@media (max-width: 320px) {
  .block-img-chart .chart .node-chart h1 {
    font-size: 26px;
  }
}
@media (min-width: 1400px) {
  .block-img-chart .chart .node-chart h1 {
    font-size: 40px;
  }
}
.block-img-chart .chart .node-chart h4 {
  font-size: 18px;
  color: #294071;
}
.block-img-chart .chart .node-chart p {
  margin-bottom: 20px;
}
.block-img-chart .chart .node-chart .case-copy__location {
  font-size: 13px;
  color: #878D96;
  line-height: 18px;
  margin-bottom: 20px;
}
.block-img-chart .chart .white-btn {
  margin-top: 50px;
}
.block-img-chart .chart-img {
  width: 65%;
  position: relative;
}
@media (max-width: 767px) {
  .block-img-chart .chart-img {
    width: 100%;
    margin: 0 20px;
  }
}
.block-img-chart .chart-img img {
  width: 100%;
}
.block-img-chart.left .chart {
  position: relative;
  left: 20px;
  top: 0;
}
@media (max-width: 767px) {
  .block-img-chart.left .chart {
    position: relative;
    width: 100%;
    left: 0;
    margin: 20px;
  }
}
.block-img-chart.right {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.block-img-chart.right .chart {
  position: relative;
  right: 20px;
  left: auto;
  top: 0;
}
@media (max-width: 767px) {
  .block-img-chart.right .chart {
    position: relative;
    width: 100%;
    left: 0;
    margin: 20px;
  }
}
.block-img-chart.right .img-credit-bg {
  right: auto;
  left: 10px;
}

blockquote {
  padding: 100px 40px;
}
@media (max-width: 767px) {
  blockquote {
    padding: 50px 40px;
  }
}
blockquote.container {
  max-width: 1038px;
}
blockquote h2 {
  position: relative;
  color: #13161a;
  line-height: 48px;
  margin-bottom: 20px;
}
blockquote h2:before {
  content: "";
  height: 100%;
  width: 4px;
  background: #f6a75d;
  position: absolute;
  top: 0;
  left: -20px;
}
blockquote .author {
  color: #878d96;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.full-block-center {
  padding: 100px 0;
  text-align: center;
  border-top: 1px solid #dde1e6;
}
@media (max-width: 767px) {
  .full-block-center {
    padding: 50px 0;
  }
}
.full-block-center .wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.full-block-center .wrapper h2 {
  font-size: 36px;
  margin-bottom: 15px;
}
.full-block-center .wrapper p {
  margin-bottom: 20px;
  color: #13151a;
}
.full-block-center a {
  margin: 0 auto;
}

.section-about .view-header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 20px;
  border-top: 1px solid #dde1e6;
  text-align: center;
}
.section-about .about-container {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
}
.section-about .about-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.section-about .about-container p {
  margin-bottom: 20px;
}
.section-about .about-container ul li {
  line-height: 32px;
  font-size: 18px;
}
.section-about .about-companies {
  padding: 50px 20px;
  border-top: 1px solid #dde1e6;
}
.section-about .about-companies a {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .section-about .about-companies .col-4 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.l-page.case-studies {
  padding-top: 72px;
}
.l-page.case-studies .cs-container {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.l-page.case-studies .cs-container__anchor {
  display: block;
  font-size: 16px;
  color: #294071;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  margin-bottom: 10px;
}
.l-page.case-studies .cs-container__anchor:hover {
  color: #15274c;
}
.l-page.case-studies .cs-container h1 {
  font-size: 48px;
  color: #13151a;
  margin-bottom: 0;
}
.l-page.case-studies .cs-container p {
  color: #13151a;
  margin-bottom: 30px;
}
.l-page.case-studies .cs-container .cs-hero {
  position: relative;
}
.l-page.case-studies .cs-container .cs-hero:before {
  content: "";
  position: absolute;
  bottom: calc(-1.6666666667vw + -24.6666666667px);
  left: 50%;
  height: calc(3.3333333333vw + 49.3333333333px);
  width: 4px;
  background: #f6a75d;
}
@media (max-width: 320px) {
  .l-page.case-studies .cs-container .cs-hero:before {
    bottom: -30px;
  }
}
@media (min-width: 1400px) {
  .l-page.case-studies .cs-container .cs-hero:before {
    bottom: -48px;
  }
}
@media (max-width: 320px) {
  .l-page.case-studies .cs-container .cs-hero:before {
    height: 60px;
  }
}
@media (min-width: 1400px) {
  .l-page.case-studies .cs-container .cs-hero:before {
    height: 96px;
  }
}
.l-page.case-studies .cs-quote {
  text-align: center;
  padding-top: 65px;
  max-width: 1037px;
  margin: 0 auto 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #DDE1E6;
}
.l-page.case-studies .cs-quote h2 {
  font-size: 32px;
  color: #121619;
  text-align: center;
  line-height: 48px;
}
.l-page.case-studies .cs-quote p {
  font-size: 13px;
  color: #878D96;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.l-page.case-studies .key-findings {
  margin-top: 100px;
  border-top: 1px solid #dde1e6;
  padding-top: 100px;
  padding-bottom: 100px;
}
.l-page.case-studies .key-findings h2 {
  text-align: center;
  color: #13151a;
  font-size: 36px;
  margin-bottom: 100px;
}
.l-page.case-studies .key-findings .key-nodes {
  border-bottom: 1px solid #dde1e6;
  padding: 50px 0;
}
.l-page.case-studies .key-findings .key-nodes h3 {
  color: #294071;
  font-size: 40px;
}
.l-page.case-studies .key-findings .key-nodes h4 {
  color: #294071;
  font-size: 18px;
}
.l-page.case-studies .key-findings .key-nodes .icons {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .l-page.case-studies .key-findings .key-nodes .icons {
    justify-content: center;
    margin-top: 20px;
  }
}
.l-page.case-studies .key-findings .key-nodes .icons .node-icons {
  width: 85px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.l-page.case-studies .key-findings .key-nodes .icons .node-icons .icon-image {
  display: flex;
  align-items: flex-end;
}
.l-page.case-studies .key-findings .key-nodes .icons .node-icons .percentage {
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #294071;
  font-weight: 600;
  margin-top: 10px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph {
  display: flex;
  align-items: center;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-percent {
  width: 95px;
  height: 95px;
  background: #294071;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-percent p {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-number {
  width: calc(100% - 95px);
  display: flex;
  height: 95px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  position: relative;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-number p {
  font-size: 40px;
  color: #294071;
  font-weight: 600;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-number:before {
  content: "";
  background: 0 0;
  background-image: linear-gradient(to right, transparent 50%, #294071 50%);
  background-size: 13px 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-number:after {
  content: "";
  background: 0 0;
  background-image: linear-gradient(to bottom, transparent 50%, #294071 50%);
  background-size: 100% 13px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-1 .node-number .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #294071;
  position: absolute;
  bottom: 0;
  right: -9px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-2 {
  background: #294071;
  height: 95px;
  margin-top: 20px;
  border-radius: 3px;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-2 .node-percent {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-2 .node-percent p {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-page.case-studies .key-findings .key-nodes .node-graph.graph-2 .node-percent img {
  width: 45px;
  padding-right: 20px;
}
.l-page.case-studies .cs-body {
  max-width: 802px;
  margin: 0 auto;
  padding: 0 25px;
}
.l-page.case-studies .cs-body h2 {
  font-size: 24px;
  line-height: 40px;
  color: #16131e;
  position: relative;
  margin-bottom: 20px;
}
.l-page.case-studies .cs-body h2:before {
  content: "";
  height: 100%;
  width: 4px;
  background: #f6a75d;
  position: absolute;
  top: 0;
  left: -20px;
}
.l-page.case-studies .cs-body p {
  color: #16131e;
  margin-bottom: 20px;
}
.l-page.case-studies .cs-card {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 40px;
}
@media (max-width: 767px) {
  .l-page.case-studies .cs-card {
    flex-wrap: wrap;
  }
}
.l-page.case-studies .cs-card .card-copy {
  width: 35%;
  position: absolute;
  left: 20px;
  top: 50%;
  padding: calc(4.6296296296vw + 5.1851851852px);
  background: #294071;
  z-index: 1;
  transform: translateY(-50%);
}
@media (max-width: 320px) {
  .l-page.case-studies .cs-card .card-copy {
    padding: 20px;
  }
}
@media (min-width: 1400px) {
  .l-page.case-studies .cs-card .card-copy {
    padding: 70px;
  }
}
@media (max-width: 767px) {
  .l-page.case-studies .cs-card .card-copy {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    margin: 0 20px;
    transform: initial;
  }
}
.l-page.case-studies .cs-card .card-copy h2 {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.l-page.case-studies .cs-card .card-img {
  width: 52%;
}
@media (max-width: 767px) {
  .l-page.case-studies .cs-card .card-img {
    width: 100%;
    margin: 20px;
  }
}

.more-case-studies {
  position: relative;
  max-width: 1424px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 100px;
}
.more-case-studies:before {
  content: "";
  height: 1px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: #dde1e6;
}
.more-case-studies h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  padding-top: 100px;
}
@media (max-width: 767px) {
  .more-case-studies h1 {
    padding-top: 50px;
  }
}
.more-case-studies .col-3 {
  padding: 0 8px;
}
.more-case-studies .more-cs {
  min-height: 700px;
  height: 100%;
  border: 2px solid #c1c0c0;
  position: relative;
}
.more-case-studies .more-cs .case-img {
  height: 50%;
  overflow: hidden;
}
.more-case-studies .more-cs .case-copy {
  height: 50%;
  padding: 25px 8px 50px;
  text-align: center;
}
.more-case-studies .more-cs .case-copy h2 {
  font-size: 36px;
  color: #13151a;
  margin: 0;
}
.more-case-studies .more-cs .case-copy p, .more-case-studies .more-cs .case-copy__description {
  font-size: 16px;
  color: #121619;
  text-align: center;
  line-height: 24px;
}
.more-case-studies .more-cs .case-copy__location {
  font-size: 13px;
  color: #878D96;
  text-align: center;
  line-height: 18px;
  margin-bottom: 20px;
}
.more-case-studies .more-cs .case-copy .learn-btn {
  margin-top: 25px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.case-studies-main:before {
  display: none;
}
.case-studies-main .main-copy {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.case-studies-main .row {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 25px 0;
}
.case-studies-main .row .col-3 {
  width: 33.333%;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .case-studies-main .row .col-3 {
    width: 100%;
  }
}
.case-studies-main .row .col-3 .more-cs {
  margin: 5px 15px;
}

.findings-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.findings-page .quick-stats-container h2.block__title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.findings-page .quick-stats-container .tab-selections {
  display: flex;
}
@media (max-width: 767px) {
  .findings-page .quick-stats-container .tab-selections {
    flex-wrap: wrap;
  }
}
.findings-page .quick-stats-container .tab-selections .tabs {
  width: 20%;
  border: 2px solid #294071;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .findings-page .quick-stats-container .tab-selections .tabs {
    width: 100%;
    margin: 2px 10px;
  }
}
.findings-page .quick-stats-container .tab-selections .tabs p {
  font-size: 14px;
  line-height: 1;
  color: #294071;
}
.findings-page .quick-stats-container .tab-selections .tabs.active {
  background: #294071;
  border-color: #294071;
}
.findings-page .quick-stats-container .tab-selections .tabs.active p {
  color: #fff;
}
.findings-page .quick-stats-container .tab-selections .tabs.active:hover {
  background: #294071;
}
.findings-page .quick-stats-container .tab-selections .tabs:hover {
  background: #c1c7cd;
}
.findings-page .quick-stats-container .tab-contents {
  width: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow-x: hidden;
  background: #f2f4f8;
  margin-top: 25px;
  padding: 50px 0;
}
.findings-page .quick-stats-container .tab-contents .node-tab {
  max-width: 1100px;
  margin: 0 auto;
  display: none;
}
.findings-page .quick-stats-container .tab-contents .node-tab .row {
  margin: 15px 0;
}
.findings-page .quick-stats-container .tab-contents .node-tab .row .col-1, .findings-page .quick-stats-container .tab-contents .node-tab .row .col-2, .findings-page .quick-stats-container .tab-contents .node-tab .row .col-3 {
  width: 33.333%;
  padding: 0px 32px 18px;
}
@media (max-width: 767px) {
  .findings-page .quick-stats-container .tab-contents .node-tab .row .col-1, .findings-page .quick-stats-container .tab-contents .node-tab .row .col-2, .findings-page .quick-stats-container .tab-contents .node-tab .row .col-3 {
    width: 100%;
    padding: 10px;
  }
}
.findings-page .quick-stats-container .tab-contents .node-tab .row h2 {
  font-size: 18px;
  color: #294071;
  line-height: 24px;
}
.findings-page .quick-stats-container .tab-contents .node-tab .row p {
  color: #13161a;
  font-size: 16px;
  line-height: 24px;
}
.findings-page .quick-stats-container .tab-contents .node-tab.active {
  display: block;
}
.findings-page .tab-accordions {
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the accordion panel. Note: hidden by default */
}
.findings-page .tab-accordions .accordion {
  color: #294071;
  cursor: pointer;
  font-size: calc(0.3703703704vw + 18.8148148148px);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 25px 15px;
  border-top: 1px solid #dde1e6;
  background: #fff;
  position: relative;
  font-family: "Source Sans Pro";
}
@media (max-width: 320px) {
  .findings-page .tab-accordions .accordion {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .findings-page .tab-accordions .accordion {
    font-size: 24px;
  }
}
.findings-page .tab-accordions .accordion:after {
  content: "";
  background: #294071;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 3px;
  transform: translateY(-50%);
}
.findings-page .tab-accordions .accordion:before {
  content: "";
  background: #294071;
  position: absolute;
  top: 50%;
  right: 25px;
  height: 25px;
  width: 3px;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.1s ease-in-out;
}
.findings-page .tab-accordions .panel {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.findings-page .tab-accordions .panel .panel-wrapper {
  padding: 30px 0;
}
.findings-page .tab-accordions .panel .panel-wrapper p {
  color: #121619;
  font-size: 18px;
  line-height: 32px;
  max-width: 755px;
  margin-bottom: 30px;
}
.findings-page .tab-accordions .panel .panel-wrapper p.footnote {
  font-size: 14px;
  color: #121619;
  line-height: 21px;
  margin-top: 0;
  margin-top: 30px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts {
  background: #fff;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .maps {
  max-width: 400px;
  margin-top: 50px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .maps svg {
  width: 100%;
  height: 100%;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .map-index p {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .map-index .index-box {
  display: flex;
  flex-wrap: wrap;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .map-index .index-box .box-color {
  width: 25px;
  height: 20px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .map-selections .map-index .index-box p {
  width: 100%;
  font-weight: 400;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row {
  display: flex;
}
@media (max-width: 767px) {
  .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row {
    flex-wrap: wrap;
  }
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-1, .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-2 {
  width: 50%;
  margin: 0 5px;
  padding: 20px;
}
@media (max-width: 767px) {
  .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-1, .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-2 {
    width: 100%;
    margin: 0;
  }
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-1 h2, .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-2 h2 {
  text-align: left;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 {
  width: 33.333%;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 {
    width: 100%;
    margin: 0;
  }
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container {
  margin: 0 5px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container .box-head {
  background: #2A4070;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50px;
  width: 100%;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container .box-body {
  padding: 8px;
  height: 100%;
  width: 100%;
  text-align: left;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container .box-body h2 {
  text-align: left;
  font-size: 20px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container .box-body p {
  text-align: left;
  font-size: 18px;
}
.findings-page .tab-accordions .panel .panel-wrapper .panel-charts .row .col-3 .box-container .box-body ul li {
  font-size: 18px;
}
.findings-page .tab-accordions .active:before {
  opacity: 0;
}
.findings-page .digital-drives {
  padding-top: 95px;
}
.findings-page .digital-drives h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}
.findings-page .digital-drives .digital-drives-carousel {
  padding: 25px 0 0;
}
.findings-page .digital-drives .digital-drives-carousel .owl-dots {
  display: none;
}
.findings-page .digital-drives .digital-drives-carousel .owl-item.active:nth-child(1) .tabs .border-box {
  left: 0;
  transform: none;
}
.findings-page .digital-drives .digital-drives-carousel .owl-item.active:nth-child(3) .tabs .border-box {
  margin-right: 0;
  left: auto;
  right: 0;
  transform: none;
}
.findings-page .digital-drives .digital-drives-carousel .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 177px;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  border-bottom: 2px solid #c1c7cd;
}
.findings-page .digital-drives .digital-drives-carousel .tabs .border-box {
  background: #e4f0f7;
  position: absolute;
  top: 0;
  left: 50%;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.findings-page .digital-drives .digital-drives-carousel .tabs p {
  color: #294071;
  font-size: calc(0.5555555556vw + 16.2222222222px);
  line-height: 1.3;
  width: 80%;
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-carousel .tabs p {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-carousel .tabs p {
    font-size: 24px;
  }
}
.findings-page .digital-drives .digital-drives-carousel .tabs.tab-open {
  background: #fff;
  border: 2px solid #c1c7cd;
  border-bottom: none;
}
.findings-page .digital-drives .digital-drives-carousel .tabs.tab-open .border-box {
  background: #fff;
}
.findings-page .digital-drives .digital-drives-tabs {
  border: 2px solid #c1c7cd;
  border-top: none;
}
.findings-page .digital-drives .digital-drives-tabs .tabs {
  display: none;
}
.findings-page .digital-drives .digital-drives-tabs .tabs.tab-open {
  display: block;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section {
  padding: 30px 0;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .small-title {
  font-size: 13px;
  color: #878d96;
  font-weight: 700;
  padding: 0 15px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title {
  font-size: calc(1.4814814815vw + 27.2592592593px);
  line-height: calc(1.2962962963vw + 37.8518518519px);
  color: #121619;
  text-align: left;
  width: 95%;
  position: relative;
  padding: 0 15px;
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title {
    font-size: 32px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title {
    font-size: 48px;
  }
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title {
    line-height: 42px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title {
    line-height: 56px;
  }
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-title:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  background: #99c2e0;
  height: 6px;
  width: 94px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-body {
  font-size: 18px;
  line-height: 32px;
  color: #121619;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview {
  padding: 50px 15px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-1 {
  width: 50%;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-1 {
    width: 100%;
    padding-right: 0;
  }
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-1 h3 {
  color: #121619;
  font-size: 32px;
  margin-bottom: 20px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-1 p {
  margin-bottom: 15px;
  color: #121619;
  font-size: 18px;
  line-height: 32px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 {
  width: 50%;
}
@media (max-width: 767px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 {
    width: 100%;
  }
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
  background: #f2f4f8;
  padding-top: calc(1.3888888889vw + 20.5555555556px);
  padding-bottom: calc(1.3888888889vw + 20.5555555556px);
  padding-left: calc(1.3888888889vw + 20.5555555556px);
  padding-right: calc(1.3888888889vw + 20.5555555556px);
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-top: 40px;
  }
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-bottom: 25px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-left: 25px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-left: 40px;
  }
}
@media (max-width: 320px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-right: 25px;
  }
}
@media (min-width: 1400px) {
  .findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box {
    padding-right: 40px;
  }
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box h4 {
  font-size: 16px;
  color: #294071;
  margin-bottom: 15px;
}
.findings-page .digital-drives .digital-drives-tabs .tabs .tab-section .tab-overview .col-2 .gray-box p {
  font-size: 16px;
  color: #294071;
  line-height: 24px;
  margin-bottom: 15px;
}

.state-report-detail-hero .row {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  padding: 75px 0;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .state-report-detail-hero .row {
    flex-wrap: wrap;
  }
}
.state-report-detail-hero .row .col-1 {
  width: 50%;
}
@media (max-width: 767px) {
  .state-report-detail-hero .row .col-1 {
    width: 100%;
  }
}
.state-report-detail-hero .row .col-1 h2 {
  font-size: 48px;
  color: #121619;
}
.state-report-detail-hero .row .col-1 p {
  font-size: 18px;
  color: #121619;
}
.state-report-detail-hero .row .col-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .state-report-detail-hero .row .col-2 {
    width: 100%;
    padding-top: 25px;
  }
}
.state-report-detail-hero .row .col-2 img {
  max-height: 360px;
  width: 100%;
}

.state-report-bar-container {
  padding-top: calc(1.3888888889vw + 5.5555555556px);
  padding-bottom: calc(1.3888888889vw + 5.5555555556px);
  padding-left: calc(1.3888888889vw + 5.5555555556px);
  padding-right: calc(1.3888888889vw + 5.5555555556px);
  background: #f2f4f8;
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}
@media (max-width: 320px) {
  .state-report-bar-container {
    padding-top: 10px;
  }
}
@media (min-width: 1400px) {
  .state-report-bar-container {
    padding-top: 25px;
  }
}
@media (max-width: 320px) {
  .state-report-bar-container {
    padding-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  .state-report-bar-container {
    padding-bottom: 25px;
  }
}
@media (max-width: 320px) {
  .state-report-bar-container {
    padding-left: 10px;
  }
}
@media (min-width: 1400px) {
  .state-report-bar-container {
    padding-left: 25px;
  }
}
@media (max-width: 320px) {
  .state-report-bar-container {
    padding-right: 10px;
  }
}
@media (min-width: 1400px) {
  .state-report-bar-container {
    padding-right: 25px;
  }
}
.state-report-bar-container .bars {
  display: flex;
}
.state-report-bar-container .bars .bar {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65px;
  font-size: calc(0.3703703704vw + 10.8148148148px);
}
@media (max-width: 320px) {
  .state-report-bar-container .bars .bar {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .state-report-bar-container .bars .bar {
    font-size: 16px;
  }
}

.state-report-detail-main {
  max-width: 1280px;
  margin: 0 auto;
  width: 95%;
}
.state-report-detail-main .node {
  display: flex;
  margin: 80px 0;
}
@media (max-width: 767px) {
  .state-report-detail-main .node {
    flex-wrap: wrap;
  }
}
.state-report-detail-main .node .col-1 {
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .state-report-detail-main .node .col-1 {
    width: 100%;
  }
}
.state-report-detail-main .node .col-1 .wrapper {
  background-color: #dde1e6;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.state-report-detail-main .node .col-1 .wrapper.stat-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.state-report-detail-main .node .col-2 {
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.27);
}
@media (max-width: 767px) {
  .state-report-detail-main .node .col-2 {
    width: 100%;
  }
}
.state-report-detail-main .node .col-2 .box-container {
  padding: 40px 65px;
}
@media (max-width: 767px) {
  .state-report-detail-main .node .col-2 .box-container {
    padding: 25px 25px;
  }
}
.state-report-detail-main .node .col-2 .box-container .box {
  border: 1px solid #c1c7cd;
  margin: 12px 0;
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.state-report-detail-main .node .col-2 .box-container .box h3 {
  width: 100%;
  font-size: 24px;
  color: #121619;
}
.state-report-detail-main .node .col-2 .box-container .box h2 {
  width: 100%;
  font-size: 40px;
  color: #5089C1;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-report-detail-main .node .col-2 .box-container .box h2 .circle {
  color: #294071;
  position: relative;
  padding-right: 20px;
}
.state-report-detail-main .node .col-2 .box-container .box h2 .circle:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #CF603F;
}
.state-report-detail-main .node .col-2 .box-container .box h4 {
  width: 100%;
  font-size: 18px;
  color: #294071;
  margin-bottom: 15px;
}
.state-report-detail-main .node .col-2 .box-container .box p {
  width: 100%;
  color: #121619;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 7px;
}
.state-report-detail-main .node.body-left {
  flex-direction: row-reverse;
}
.state-report-detail-main .bar-chart {
  display: flex;
}
.state-report-detail-main .bar-chart .bars {
  width: 75px;
  margin: 0 15px;
}
.state-report-detail-main .bar-chart .bars .bar-top {
  color: #294071;
  margin-bottom: 10px;
}
.state-report-detail-main .bar-chart .bars .bar-top span {
  font-weight: 700;
}
.state-report-detail-main .bar-chart .bars .bar-mid {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.state-report-detail-main .bar-chart .bars .bar-mid .bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2A4173;
}
.state-report-detail-main .bar-chart .bars .bar-mid .bar-container:nth-child(2) {
  background: #375B91;
}
.state-report-detail-main .bar-chart .bars .bar-mid .bar-container:nth-child(3) {
  background: #3E6CA2;
}
.state-report-detail-main .bar-chart .bars .bar-mid p {
  color: #fff !important;
  margin-bottom: 3px !important;
}
.state-report-detail-main .bar-chart .bars:nth-child(2) .bar-mid .bar-container {
  background: #375B91;
}
.state-report-detail-main .bar-chart .bars:nth-child(3) .bar-mid .bar-container {
  background: #3E6CA2;
}
.state-report-detail-main .bar-chart .bars:nth-child(4) .bar-mid .bar-container {
  background: #6a9ad2;
}
.state-report-detail-main .bar-chart .bars .bar-bot {
  min-height: 50px;
  margin-top: 5px;
}
.state-report-detail-main .bar-chart .bars .bar-bot p {
  margin-bottom: 0 !important;
  color: #121619;
}

.side-chart {
  background: #e4f0f7;
  padding: 30px;
  width: 560px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-chart.left {
  margin: 3px 30px 0 -20%;
  float: left;
}
.side-chart.right {
  margin: 3px -20% 0 30px;
  float: right;
}
@media (max-width: 767px) {
  .side-chart {
    float: none !important;
    margin: 0 !important;
    width: auto !important;
  }
}
.side-chart img {
  max-width: 210px;
  width: 100%;
  margin-bottom: 25px;
}
.side-chart h4 {
  font-size: 18px;
  line-height: 32px;
  color: #294071;
}
.side-chart p {
  font-size: 16px;
  color: #294071 !important;
  line-height: 24px;
}

.recommendations-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 0 50px;
  width: 95%;
}
.recommendations-page .main-copy {
  padding-top: 50px;
  padding-bottom: 60px;
  max-width: 800px;
  margin: 0 auto;
}
.recommendations-page .recommendations-container .recommendations-carousel {
  padding: 25px 0 0;
  margin-bottom: -2px;
}
.recommendations-page .recommendations-container .recommendations-carousel .owl-dots {
  display: none;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  padding-top: calc(1.3888888889vw + 5.5555555556px);
  padding-bottom: calc(1.3888888889vw + 5.5555555556px);
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs {
    padding-top: 10px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs {
    padding-top: 25px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs {
    padding-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs {
    padding-bottom: 25px;
  }
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs img {
  width: 90%;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs .border-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs p {
  color: #fff;
  font-size: calc(0.5555555556vw + 16.2222222222px);
  text-align: center;
  line-height: 1.3;
  width: 90%;
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs p {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-carousel .tabs p {
    font-size: 24px;
  }
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs.tab-open {
  background: #fff;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs.tab-open:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: calc(100% + 25px);
  background: #c1c7cd;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs.tab-open:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: calc(100% + 25px);
  background: #c1c7cd;
}
.recommendations-page .recommendations-container .recommendations-carousel .tabs.tab-open .border-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #c1c7cd;
}
.recommendations-page .recommendations-container .recommendations-tabs {
  border: 2px solid #c1c7cd;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs {
  display: none;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs.tab-open {
  display: block;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section {
  padding: 30px 25px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .small-title {
  font-size: 13px;
  color: #878d96;
  font-weight: 700;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title {
  font-size: calc(1.4814814815vw + 27.2592592593px);
  line-height: calc(1.2962962963vw + 37.8518518519px);
  color: #121619;
  text-align: left;
  width: 95%;
  position: relative;
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title {
    font-size: 32px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title {
    font-size: 48px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title {
    line-height: 42px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title {
    line-height: 56px;
  }
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  background: #99c2e0;
  height: 6px;
  width: 94px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body {
  padding-top: 10px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body h2 {
  font-size: calc(0.5555555556vw + 24.2222222222px);
  line-height: calc(1.1111111111vw + 32.4444444444px);
  color: #121619;
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body h2 {
    font-size: 26px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body h2 {
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body h2 {
    line-height: 36px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body h2 {
    line-height: 48px;
  }
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body p {
  color: #121619;
  line-height: 32px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row {
  display: flex;
  margin: 50px 0;
}
@media (max-width: 767px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row {
    flex-wrap: wrap;
  }
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-1 {
  padding-right: 15px;
  width: calc(100% - 350px);
}
@media (max-width: 767px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-1 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-1 {
    padding-right: 0;
  }
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
  background: #F2F4F8;
  width: 350px;
  padding-top: calc(1.3888888889vw + 20.5555555556px);
  padding-bottom: calc(1.3888888889vw + 20.5555555556px);
  padding-left: calc(1.3888888889vw + 20.5555555556px);
  padding-right: calc(1.3888888889vw + 20.5555555556px);
}
@media (max-width: 767px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-top: 25px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-top: 40px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-bottom: 25px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-left: 25px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-left: 40px;
  }
}
@media (max-width: 320px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-right: 25px;
  }
}
@media (min-width: 1400px) {
  .recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 {
    padding-right: 40px;
  }
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 p {
  color: #294071;
  font-size: 18px;
  line-height: 24px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 ul {
  padding-left: 20px;
}
.recommendations-page .recommendations-container .recommendations-tabs .tabs .tab-section .tab-body .row .col-2 ul li {
  color: #294071;
  font-size: 18px;
  line-height: 32px;
}

.front .block__title {
  font-size: 32px;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.front .map-container {
  padding-bottom: 75px;
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.front .map-container .map-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #121619;
}
.front .map-container .map-subtitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #121619;
}
.front .map-container .map-index {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .front .map-container .map-index {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.front .map-container .map-index > * {
  width: calc(100% / 6);
  padding-right: 5px;
}
@media (max-width: 767px) {
  .front .map-container .map-index > * {
    width: calc(100% / 3);
    padding-bottom: 5px;
  }
}
.front .map-container .map-index > p {
  font-size: 15px;
  color: #121619;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}
.front .map-container .map-index .index-box {
  display: flex;
  align-items: center;
}
.front .map-container .map-index .index-box .box-color {
  width: 25px;
  height: 15px;
  margin-right: 3px;
}
.front .map-container .map-index .index-box p {
  font-size: 15px;
  color: #121619;
  line-height: 1;
  margin-bottom: 0;
}
.front .map-container .map-select {
  position: relative;
  height: 55px;
  width: 250px;
  margin: 0 auto 25px;
}
.front .map-container .map-select select {
  display: none;
  /*hide original SELECT element: */
}
.front .map-container .select-selected {
  background-color: #fff;
}
.front .map-container .select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #121619 transparent transparent transparent;
}
.front .map-container .select-selected.select-arrow-active:after {
  border-color: transparent transparent #121619 transparent;
  top: 20px;
}
.front .map-container .select-items div, .front .map-container .select-selected {
  color: #121619;
  border: 1px solid #989898;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 55px;
}
.front .map-container .select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.front .map-container .select-hide {
  display: none;
}
.front .map-container .select-items div:hover, .front .map-container .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.front .map-container .map-selections {
  visibility: hidden;
  height: 0;
}
.front .map-container .map-selections.active {
  visibility: visible;
  height: 100%;
}
.front .map-container .map-selections .maps {
  margin-top: 25px;
}
.front .map-container .row .col-1 {
  width: 50%;
  background: #F2F4F8;
  padding: 25px;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .front .map-container .row .col-1 {
    width: 100%;
  }
}
.front .map-container .row .col-2 {
  width: 50%;
  background: #F2F4F8;
  padding: 25px;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .front .map-container .row .col-2 {
    width: 100%;
  }
}
.front .map-container .row .col-2 .map-title {
  color: #cf603f;
  margin-top: 25px;
}
.front .map-container .row .col-2 .map-subtitle {
  color: #cf603f;
  margin-bottom: 60px;
}
.front .map-container .maps svg {
  width: 100%;
  height: 100%;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-page h2 {
  font-size: calc(2.962962963vw + 30.5185185185px);
  color: #13151a;
}
@media (max-width: 320px) {
  .error-page h2 {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .error-page h2 {
    font-size: 72px;
  }
}

.states-case-studies {
  padding-bottom: 75px;
}

/*# sourceMappingURL=style.css.map */
