@import "images.scss";

.blue-btn {
    color: $white;
    font-size: 16px;
    font-weight: 600;
    background: $color__accent;
    border-radius: 3px;
    height: 40px;
    max-width: 169px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fp(font-size, 12,16);
    transition: all .25s ease-in-out;
    border: 2px solid $color__accent;
    .arrow-icon {
        transition: all .25s ease-in-out;
    }
    &:hover {
        color: $google-blue;
        border-color: $google-blue;
        background: transparent;
        .arrow-icon {
            filter: invert(1);
        }
    }
}
.learn-btn, .white-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid $color__accent;
    color: $color__accent;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    background: $white;
    transition: all .25s ease-in-out;
    &:hover {
        border-color: gray;
        color: gray;
    }
}
.claims-btn {
    height: 40px;
    max-width: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color__accent;
    color: $color__accent;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    transition: all .25s ease-in-out;
    &:hover {
        border-color: gray;
        color: gray;
    }
}
.arrow-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url($arrow-icon);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.arrow-icon-black {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url($arrow-icon);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    filter: invert(1);
}
.visit-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url($visit-icon);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}