// Footer styles
.l-footer {
    background: #f5f5f5;
    height: $footer-height;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    position: relative;
    @include breakpoint (xs) {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-copy {
        p {
            font-size: 14px;
            color: #16131e;
            line-height: 1;
            a {
                text-decoration: underline;
                color: #16131e;
            }
        }
    }
    ul.menu { 
        @include breakpoint (xs) {
            display: none;
        }
        li {
            a {
                &:before {
                    display: none;
                }
            }
        }
    }
}

