.mailing-list {
    background: $color__accent;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    @include breakpoint (xs) {
        padding: 50px 0;
    }
    .form_container {
        max-width: 920px;
        margin: 0 auto;
        padding: 0 15px;
        .form_title {
            width: 100%;
            h2 {
                text-align: center;
                color: $white;
                @include fp(font-size, 28,36);
                font-weight: 600;
                max-width: 920px;
                margin: 0 0 25px;
            }
            h4 {
                text-align: center;
                color: $white;
                font-size: 18px;
                font-weight: 400;
                max-width: 920px;
                margin: 0 0 25px;
            }
        }
        form {
            max-width: 650px;
            margin: 0 auto;
            .form-fields {
                display: flex;
                flex-wrap: wrap;
                .fields {
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 25px;
                    @include breakpoint (xs) {
                        width: 100%;
                    }
                    label {
                        width: 100%;
                        color: $white;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                }
                input[type=text] {
                    width: 95%;
                    background: #5089c1;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    color: $white;
                    padding-left: 5px;
                    font-size: 14px;
                    @include breakpoint (xs) {
                        width: 100%;
                    }
                    &::placeholder {
                        color: $white;
                    }
                    &:focus, &:hover {
                        outline: none;
                    }
                }
            }
            .disclaimer {
                text-align: center;
                p {
                    color: $white;
                    font-size: 14px;
                    a {
                        color: $white;
                        font-weight: 700;
                        text-decoration: underline;
                        &:hover {
                            color: $color__secondary;
                        }
                    }
                }
                label {
                    color: $white;
                    font-size: 14px;
                }
            }
            .form-action {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                input {
                    height: 40px;
                    border-radius: 3px;
                    background: $white;
                    font-size: 14px;
                    color: $color__accent;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    font-weight: 600;
                    transition: all .2s ease-in-out;
                    border: 2px solid $white;
                    &:hover {
                        color: $white;
                        background: $color__accent;
                    }
                }
            }
        }
        #form-messages {
            display: none;
            text-align: center;
            color: $white;
            font-size: 28px;
            font-weight: 600;
        }
    }
}