// Header styles
.l-header {
    width: 100%;
    height: $header-height;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    .navigation-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
        position: relative;
        @include breakpoint('xs') {
            // justify-content: space-between;
            justify-content: center;
        }
        .nav-block {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            @include breakpoint (xs) {
                // display: none;
            }
            ul.menu {
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
                padding: 0 15px;
                @include breakpoint('xs') {
                    display: none;
                }
                li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: #13151a;
                        font-size: 14px;
                        transition: all .3s ease-in-out;
                        position: relative;
                        font-weight: 600;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 13px;
                            height: 2px;
                            width: 0;
                            background: $color__secondary;
                            transition: all .3s ease-in-out;
                        }
                        &:hover, &.active, &.nav-active {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .download-report {
                @include breakpoint('xs') {
                    display: none;
                }
            }
            .menu-icon {
                display:inline-block;
                width:25px;
                height:15px;
                cursor: pointer;
                margin: 0;
                outline: 0;
                position: relative;
                @include breakpoint(sm) {
                    display: none;
                }
                & > span {
                    background: $black;
                    cursor: pointer;
                    border-radius: 2px;
                    height: 2px;
                    width: 20px;
                    position: relative;
                    display: block;
                    margin: 0;
                    text-indent: -9999em;
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 4px;
                    }
                    &:nth-child(3) {
                        top: 8px;
                    }
                }
                &.active {
                    > span {
                        &:nth-child(2) {
                          background-color: transparent;
                        }
                        &:nth-child(1) {
                          top: 6px;
                          transform: rotate(45deg);
                        }
                        &:nth-child(3) {
                          top: 2px;
                          transform: rotate(-45deg);
                        }
                      }
                }
            }
        }
    }
}
.mobile-menu {
    @include breakpoint (sm) {
        display: none;
    }
    position: fixed;
    top: 72px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 20px;
    background: $white;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
    &.active {
        transform: translateX(0);
    }



    ul.menu {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        margin: 0;
        padding: 0 15px;
        li {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;
            margin: 10px 0;
            select, select option, a {
                height: 100%;
                display: flex;
                align-items: center;
                color: #13151a;
                font-size: 14px;
                transition: all .3s ease-in-out;
                position: relative;
                font-weight: 600;
                font-family: $sans;
                padding-bottom: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    background: $color__secondary;
                    transition: all .3s ease-in-out;
                }
                &:hover, &.active, &.nav-active {
                    &:before {
                        width: 100%;
                    }
                }
            }
            select {
                border: none;
                position: relative;
                left: -3px;
                color: rgba(0,0,0,0);
                text-shadow: 0 0 0 #000;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    
    
}
.nav-state-reports {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    background: #f2f4f8;
    padding: 25px 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    a {
        display: block;
        img {
            width: 100%;
            margin-bottom: 15px;
        }
        .case-name {
            color: #13151a;
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 15px;
        }
        .case-location {
            font-size: 14px;
            color: #13151a;
            line-height: 1;
        }
    }
    .container {
        max-width: 100%;
        width: 95%;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 0;
            .column {
                width: calc(100% / 9);
            }
            li {
                list-style: none;
                display: inline-block;
                width: 100%;
                a {
                    font-size: 16px;
                    color: #6b6b6b;
                    height: 35px;
                    position: relative;
                    display: inherit;
                    transition: all .3s ease-in-out;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        height: 2px;
                        width: 0;
                        background: $color__secondary;
                        transition: all .3s ease-in-out;
                    }
                    &:hover, &.active {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}