// mixins
@mixin fp($property, $min, $max, $start: 320, $end: 1400, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
    $multiplier: ($max - $min) / ($end - $start) * 100;
    $adder: ($min * $end - $max * $start) / ($end - $start);
    $formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});
    @if $clip and $clipAtStart {
      @media (max-width: #{$start + 0px}) {
        #{$property}: $min + 0px;
      }
    }
    @if $clip and $clipAtEnd {
      @media (min-width: #{$end + 0px}) {
        #{$property}: $max + 0px;
      }
    }
    #{$property}: $formula;
}
@mixin not-contained() {
  width: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow-x: hidden;
}