.owl-carousel {
    .owl-stage-outer {
        .owl-stage {
            margin: 0 auto;
        }
    }
    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 64px;
            width: 64px;
            border-radius: 100px;
            background: rgba(255,255,255,0.8) !important;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
            transition: all .25s ease-in-out;
            .fa {
                position: relative;
                font-size: 28px;
            }
            &.owl-prev {
                left: 0;
                .fa {
                    left: -2px;
                }
            }
            &.owl-next {
                right: 0;
                .fa {
                    right: -2px;
                }
            }
            &:focus {
                outline: none;
            }
            &:hover {
                transform: translateY(-50%) scale(1.1);
            }
        }
    }
    .owl-dots {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            height: 10px;
            width: 10px;
            border-radius: 100px;
            border: 2px solid #13151a;
            margin: 0 3px;
            &.active {
                background: #13151a;
            }
            &:focus {
                outline: none;
            }
        }
    }
}