@import "global.scss";
@import "owl.scss";
@import "images.scss";
@import "mixins.scss";
@import "breakpoint.scss";
@import "fonts.scss";
@import "colors.scss";
@import "buttons.scss";
@import "header.scss";
@import "graphs.scss";
@import "form.scss";
@import "footer.scss";
@import "circle.scss";


// General
body {
    font-family: $sans;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px;
}
h2 {
    font-weight: 600;
    @include fp(font-size, 24, 32);
    color: #16131e;
}
.block__title {
    font-size: 36px;
    color: #13151a;
}
p {
    line-height: 32px;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.row {
    display: flex;
    @include breakpoint (xs) {
        flex-wrap: wrap;
    }
    .column {
        padding: 0 20px;
    }
    .col-2 {
        width: 50%;
        @include breakpoint (xs) {
            width: 100%;
        }
    }
    .col-5 {
        width: 20%;
    }
    .col-4 {
        width: 40%;
        @include breakpoint (xs) {
            width: 100%;
        }
    }
    .col-6 {
        width: 60%;
        @include breakpoint (xs) {
            width: 100%;
        }
    }
}
.text-link {
    color: $color__accent;
    font-size: 18px;
    &:hover {
        color: $black;
    }
}
.img-credit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $white;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    &-bg {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: $white;
        font-size: 13px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.64);
        border-radius: 3px;
        padding: 5px;
        padding: 5px 10px;
        line-height: 1;
    }
}



// Site logo
.site-logo {
    max-width: 350px;
    width: 100%;
    @include breakpoint (xs) {
        max-width: 220px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    img {
        width: 100%;
    }
}



// Banner 
section.l-banner {
    position: relative;
    width: 100%;
    margin-top: $header-height;
    overflow: hidden;
    height: 542px;
    .banners {
        .background {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover !important;
            background-position: center top !important;
            background-repeat: no-repeat !important;
        }
        .foreground {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            // background: rgba(0, 0, 0, 0.4);
            align-items: center;
            .container {
                width: 100%;
            }
            .banner-copies {
                max-width: 566px;
                padding: 0 20px;
                h2 {
                    color: $white;
                    @include fp(font-size, 32,48);
                }
                .cta {
                    margin-top: 25px;
                    a {
                        border-color: transparent;
                        color: $color__accent;
                        span {
                            filter: invert(81%) sepia(8%) saturate(4638%) hue-rotate(184deg) brightness(94%) contrast(89%);
                        }
                        &:hover {
                            border-color: $black;
                        }
                    }
                }
            }
        }
    }
}

// Main body 
.l-page {
    height: auto;
    min-height: calc(100vh - #{$footer-height});
    .intro-container {
        padding-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #dde1e6;
        .logos {
            display: flex;
            align-content: center;
            text-align: center;
            flex-wrap: wrap;
            @include breakpoint (xs) {
                margin-top: 20px;
            }
            p {
                width: 100%;
                color: #353940;
            }
            .logos-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                img {
                    width: 50%;
                    padding: 0 10px;
                }
            }
        }
    }
}
.block-img-chart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    @include breakpoint (xs) {
        flex-wrap: wrap;
        padding-top: 0;
    }
    .chart {
        width: 40%;
        position: relative;
        left: 20px;
        top: 0;
        @include fp(padding-top, 0,60);
        @include fp(padding-bottom, 0,60);
        @include fp(padding-left, 0,100);
        @include fp(padding-right, 0,100);
        background: white;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.27);
        z-index: 1;
        @include breakpoint (xs) {
            padding: 40px;
        }
        .node-chart {
            h1 {
                color: $color__accent;
                @include fp(font-size, 26, 40);
                line-height: 1;
            }
            h4 {
                font-size: 18px;
                color: $color__accent;
            }
            p {
                margin-bottom: 20px;
            }
            .case-copy__location {
                font-size: 13px;
                color: #878D96;
                line-height: 18px;
                margin-bottom: 20px;
            }
        }
        .white-btn {
            margin-top: 50px;
        }
    }
    .chart-img {
        width: 65%;
        position: relative;
        @include breakpoint (xs) {
            width: 100%;
            margin: 0 20px;
        }
        img {
            width: 100%;
        }
    }
    &.left {
        .chart {
            position: relative;
            left: 20px;
            top: 0;
            @include breakpoint (xs) {
                position: relative;
                width: 100%;
                left: 0;
                margin: 20px;
            }
        }
    }
    &.right {
        justify-content: flex-start;
        flex-direction: row-reverse;
        .chart {
            position: relative;
            right: 20px;
            left: auto;
            top: 0;
            @include breakpoint (xs) {
                position: relative;
                width: 100%;
                left: 0;
                margin: 20px;
            }
        }
        .img-credit-bg {
            right: auto;
            left: 10px;
        }
    }
}

blockquote {
    padding: 100px 40px;
    @include breakpoint (xs) {
        padding: 50px 40px;
    }
    &.container {
        max-width: 1038px;
    }
    h2 {
        position: relative;
        color: #13161a;
        line-height: 48px;
        margin-bottom: 20px;
        &:before {
            content: '';
            height: 100%;
            width: 4px;
            background: $color__secondary;
            position: absolute;
            top: 0;
            left: -20px;
        }
    }
    .author {
        color: #878d96;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
.full-block-center {
    padding: 100px 0;
    text-align: center;
    border-top: 1px solid #dde1e6;
    @include breakpoint (xs) {
        padding: 50px 0;
    }
    .wrapper {
        max-width: 800px;
        margin: 0 auto;
        h2 {
            font-size: 36px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
            color: #13151a;
        }
    }
    a {
        margin: 0 auto;
    }
}

.section-about {
    .view-header {
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px 20px;
        border-top: 1px solid #dde1e6;
        text-align: center;
    }
    .about-container {
        padding: 50px 20px;
        max-width: 800px;
        margin: 0 auto;
        h2 {
            font-size: 24px;   
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        ul {
            li {
                line-height: 32px;
                font-size: 18px;
            }
        }
    }
    .about-companies {
        padding: 50px 20px;
        border-top: 1px solid #dde1e6;
        a {
            margin-top: 20px;
        }
        .col-4 {
            @include breakpoint (xs) {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}

.l-page.case-studies {
    padding-top: $header-height;
    .cs-container {
        max-width: 920px;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
        &__anchor {
            display: block;
            font-size: 16px;
            color: #294071;
            letter-spacing: 0;
            text-align: center;
            line-height: 24px;
            margin-bottom: 10px;
            &:hover {
                color: #15274c;
            }
        }
        h1 {
            font-size: 48px;
            color: #13151a;
            margin-bottom: 0;
        }
        p {
            color: #13151a;
            margin-bottom: 30px;
        }
        .cs-hero {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                @include fp(bottom, -30, -48);
                left: 50%;
                @include fp(height, 60,96);
                width: 4px;
                background: $color__secondary;
            }
        }
    }
    .cs-quote {
        text-align: center;
        padding-top: 65px;
        max-width: 1037px;
        margin: 0 auto 50px;
        padding-bottom: 60px;
        border-bottom: 1px solid #DDE1E6;
        h2 {
            font-size: 32px;
            color: #121619;
            text-align: center;
            line-height: 48px;
        }
        p {
            font-size: 13px;
            color: #878D96;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px;
        }
    }
    .key-findings {
        margin-top: 100px;
        border-top: 1px solid #dde1e6;
        padding-top: 100px;
        padding-bottom: 100px;
        h2 {
            text-align: center;
            color: #13151a;
            font-size: 36px;
            margin-bottom: 100px;
        }
        .key-nodes {
            border-bottom: 1px solid #dde1e6;
            padding: 50px 0;
            h3 {
                color: $color__accent;
                font-size: 40px;
            }
            h4 {
                color: $color__accent;
                font-size: 18px;
            }
            .icons {
                display: flex;
                justify-content: flex-end;
                @include breakpoint (xs) {
                    justify-content: center;
                    margin-top: 20px;
                }
                .node-icons {
                    width: 85px;
                    margin: 0 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    .icon-image {
                        display: flex;
                        align-items: flex-end;
                    }
                    .percentage {
                        font-size: 40px;
                        text-align: center;
                        width: 100%;
                        color: $color__accent;
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
            }
            .node-graph {
                display: flex;
                align-items: center;
                &.graph-1 {
                    .node-percent {
                        width: 95px;
                        height: 95px;
                        background: $color__accent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        p {
                            color: $white;
                            font-size: 40px;
                            font-weight: 600;
                        }
                    }
                    .node-number {
                        width: calc(100% - 95px);
                        display: flex;
                        height: 95px;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 20px;
                        position: relative;
                        p {
                            font-size: 40px;
                            color: $color__accent;
                            font-weight: 600;
                        }
                        &:before {
                            content: '';
                            background: 0 0;
                            background-image: linear-gradient(to right,transparent 50%,$color__accent 50%);
                            background-size: 13px 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 2px;
                        }
                        &:after {
                            content: '';
                            background: 0 0;
                            background-image: linear-gradient(to bottom,transparent 50%,$color__accent 50%);
                            background-size: 100% 13px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 2px;
                        }
                        .arrow-down {
                            width: 0; 
                            height: 0; 
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 15px solid $color__accent;
                            position: absolute;
                            bottom: 0;
                            right: -9px;
                        }
                    }
                }
                &.graph-2 {
                    background: $color__accent;
                    height: 95px;
                    margin-top: 20px;
                    border-radius: 3px;
                    .node-percent {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        position: relative;
                        justify-content: space-between;
                        p {
                            font-size: 40px;
                            color: $white;
                            font-weight: 600;
                            width: 95px;
                            height: 95px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        img {
                            width: 45px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
    .cs-body {
        max-width: 802px;
        margin: 0 auto;
        padding: 0 25px;
        h2 {
            font-size: 24px;
            line-height: 40px;
            color: #16131e;
            position: relative;
            margin-bottom: 20px;
            &:before {
                content: '';
                height: 100%;
                width: 4px;
                background: $color__secondary;
                position: absolute;
                top: 0;
                left: -20px;
            }
        }
        p {
            color: #16131e;
            margin-bottom: 20px;
        }
    }
    .cs-card {
        max-width: 1150px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 40px;
        @include breakpoint (xs) {
            flex-wrap: wrap;
        }
        .card-copy {
            width: 35%;
            position: absolute;
            left: 20px;
            top: 50%;
            @include fp(padding, 20, 70);
            background: $color__accent;
            z-index: 1;
            transform: translateY(-50%);
            @include breakpoint (xs) {
                width: 100%;
                position: relative;
                top: auto;
                left: auto;
                margin: 0 20px;
                transform: initial;
            }
            h2 {
                color: $white;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
            }
        }
        .card-img {
            width: 52%;
            @include breakpoint (xs) {
                width: 100%;
                margin: 20px;
            }
        }
    }
}

.more-case-studies {
    position: relative;
    max-width: 1424px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
    &:before {
        content: '';
        height: 1px;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background: #dde1e6;
    }
    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
        padding-top: 100px;
        @include breakpoint (xs) {
            padding-top: 50px;
        }
    }
    .col-3 {
        padding: 0 8px;
    }
    .more-cs {
        min-height: 700px;
        height: 100%;
        border: 2px solid #c1c0c0;
        position: relative;
        .case-img {
            height: 50%;
            overflow: hidden;
        }
        .case-copy {
            height: 50%;
            padding: 25px 8px 50px;
            text-align: center;
            h2 {
                font-size: 36px;
                color: #13151a;
                margin: 0;
            }
            p, &__description {
                font-size: 16px;
                color: #121619;
                text-align: center;
                line-height: 24px;
            }
            &__location {
                font-size: 13px;
                color: #878D96;
                text-align: center;
                line-height: 18px;
                margin-bottom: 20px;
            }
            .learn-btn {
                margin-top: 25px;
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.case-studies-main {
    &:before {
        display: none;
    }
    .main-copy {
        max-width: 800px;
        margin: 0 auto;
        padding: 25px 0 50px;
    }
    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 25px 0;
        .col-3 {
            width: 33.333%;
            padding: 25px 0;
            @include breakpoint (xs) {
                width: 100%;
            }
            .more-cs {
                margin: 5px 15px;
            }
        }
    }
}

.findings-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px 0 50px;

   .quick-stats-container {
       h2.block__title {
           text-align: center;
           margin-top: 25px;
           margin-bottom: 50px;
       }
       .tab-selections {
           display: flex;
           @include breakpoint(xs) {
                flex-wrap: wrap;
            }   
           .tabs {
               width: 20%;
               border: 2px solid $color__accent;
               border-radius: 3px;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 40px;
               margin: 0 10px;
               text-align: center;
               cursor: pointer;
               @include breakpoint(xs) {
                   width: 100%;
                   margin: 2px 10px;
               }
               p {
                   font-size: 14px;
                   line-height: 1;
                   color: $color__accent;
               }
               &.active {
                   background: $color__accent;
                   border-color: $color__accent;
                   p {
                       color: $white;
                   }
                   &:hover {
                        background: $color__accent;
                   }
               }
               &:hover {
                   background: #c1c7cd;
               }
           }
       }
       .tab-contents {
           @include not-contained();
           background: #f2f4f8;
           margin-top: 25px;
           padding: 50px 0;
           .node-tab {
               max-width: 1100px;
               margin: 0 auto;
               display: none;
               .row {
                   margin: 15px 0;
                   .col-1, .col-2, .col-3 {
                       width: 33.333%;
                       padding: 0px 32px 18px;
                       @include breakpoint (xs) {
                           width: 100%;
                           padding: 10px;
                       }
                   }
                   h2 {
                       font-size: 18px;
                       color: $color__accent;
                       line-height: 24px;
                   }
                   p {
                       color: #13161a;
                       font-size: 16px;
                       line-height: 24px;
                   }
               }
               &.active {
                   display: block;
               }
           }
       }
       
   }
    .tab-accordions {
        .accordion {
            color: #294071;
            cursor: pointer;
            @include fp(font-size, 20, 24);
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            padding: 25px 15px;
            border-top: 1px solid #dde1e6;
            background: $white;
            position: relative;
            font-family: $sans;
            &:after {
                content: '';
                background: #294071;
                position: absolute;
                top: 50%;
                right: 15px;
                width: 25px;
                height: 3px;
                transform: translateY(-50%);
            }
            &:before {
                content: '';
                background: #294071;
                position: absolute;
                top: 50%;
                right: 25px;
                height: 25px;
                width: 3px;
                transform: translateY(-50%);
                opacity: 1;
                transition: all .1s ease-in-out;
            }
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
            // background-color: #c1c7cd;
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 15px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            // background: #F2F4F8;
            .panel-wrapper {
                padding: 30px 0;
                p {
                    color: #121619;
                    font-size: 18px;
                    line-height: 32px;
                    max-width: 755px;
                    margin-bottom: 30px;
                    &.footnote {
                        font-size: 14px;
                        color: #121619;
                        line-height: 21px;
                        margin-top: 0;
                        margin-top: 30px;
                    } 
                }
                .panel-charts {
                    background: $white;
                    // box-shadow: 0 12px 24px transparentize($color: #000000, $amount: .88);
                    .map-selections {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        .maps {
                            max-width: 400px;
                            margin-top: 50px;
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .map-index {
                            p {
                                margin-bottom: 10px;
                                font-weight: 700;
                                font-size: 20px;
                            }
                            .index-box {
                                display: flex;
                                flex-wrap: wrap;
                                .box-color {
                                    width: 25px;
                                    height: 20px;
                                }
                                p {
                                    width: 100%;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                    .row {
                        display: flex; 
                        @include breakpoint (xs) {
                            flex-wrap: wrap;
                        }
                        .col-1, .col-2 {
                            width: 50%;
                            margin: 0 5px;
                            padding: 20px;
                            @include breakpoint (xs) {
                                width: 100%;
                                margin: 0;
                            }
                            h2 {
                                text-align: left;
                            }
                            
                        }
                        .col-3 {
                            width: 33.333%;
                            margin: 0 5px;
                            @include breakpoint (xs) {
                                width: 100%;
                                margin: 0;
                            }
                            .box-container {
                                margin: 0 5px;
                                display: flex;
                                height: 100%;
                                width: 100%;
                                flex-wrap: wrap;
                                .box-head {
                                    background: #2A4070;
                                    color: $white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 20px;
                                    height: 50px;
                                    width: 100%;
                                }
                                .box-body {
                                    padding: 8px;
                                    height: 100%;
                                    width: 100%;
                                    text-align: left;
                                    h2 {
                                        text-align: left;
                                        font-size: 20px;
                                    }
                                    p {
                                        text-align: left;
                                        font-size: 18px;
                                    }
                                    ul {
                                        li {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .active:before {
            opacity: 0;
        }
    }
    .digital-drives {
        padding-top: 95px;
        h2 {
            font-size: 32px;
            text-align: center;
            margin-bottom: 25px;
        }
        .digital-drives-carousel {
            padding: 25px 0 0;
            // margin-bottom: -2px;
            .owl-dots {
                display: none;
            }
            .owl-item{
                &.active {
                    &:nth-child(1) {
                        .tabs {
                            .border-box {
                                left: 0;
                                transform: none;
                            }
                           
                        }
                        
                    }
                    &:nth-child(3) {
                        .tabs {
                            .border-box {
                                margin-right: 0;
                                left: auto;
                                right: 0;
                                transform: none;
                            }
                        }
                    }
                }
            }
            .tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 177px;
                border-top: none;
                border-left: none;
                border-right: none;
                position: relative;
                border-bottom: 2px solid #c1c7cd;
                .border-box {
                    background: #e4f0f7;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 95%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-50%);
                }
                p {
                    color: $color__accent;
                    @include fp(font-size, 18,24);
                    line-height: 1.3;
                    width: 80%;
                }
                &.tab-open {
                    background: $white;
                    border: 2px solid #c1c7cd;
                    border-bottom: none;
                    .border-box {
                        background: $white;
                    }
                }
            }
        }
        .digital-drives-tabs {
            border: 2px solid #c1c7cd;
            border-top: none;
            .tabs {
                display: none;
                &.tab-open {
                    display: block;
                }
                .tab-section {
                    padding: 30px 0;
                    .small-title {
                        font-size: 13px;
                        color: #878d96;
                        font-weight: 700;
                        padding: 0 15px;
                    }
                    .tab-title {
                        @include fp(font-size, 32, 48);
                        @include fp(line-height, 42, 56);
                        color: #121619;
                        text-align: left;
                        width: 95%;
                        position: relative;
                        padding: 0 15px;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 15px;
                            bottom: -20px;
                            background: #99c2e0;
                            height: 6px;
                            width: 94px;
                        }
                    }
                    .tab-body {
                        font-size: 18px;
                        line-height: 32px;
                        color: #121619;
                    }
                    .tab-overview {
                        padding: 50px 15px;
                        .col-1 {
                            width: 50%;
                            padding-right: 15px;
                            @include breakpoint (xs) {
                                width: 100%;
                                padding-right: 0;
                            }
                            h3 {
                                color: #121619;
                                font-size: 32px;
                                margin-bottom: 20px;
                            }
                            p {
                                margin-bottom: 15px;
                                color: #121619;
                                font-size: 18px;
                                line-height: 32px;
                            }
                        }
                        .col-2 {
                            width: 50%;
                            @include breakpoint (xs) {
                                width: 100%;
                            }
                            .gray-box {
                                background: #f2f4f8;
                                @include fp(padding-top,25, 40);
                                @include fp(padding-bottom,25, 40);
                                @include fp(padding-left,25, 40);
                                @include fp(padding-right,25, 40);
                                h4 {
                                    font-size: 16px;
                                    color: $color__accent;
                                    margin-bottom: 15px;
                                }
                                p {
                                    font-size: 16px;
                                    color: $color__accent;
                                    line-height: 24px;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.state-report-detail-hero {
    .row {
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
        width: 90%;
        padding: 75px 0;
        margin-top: 100px;
        @include breakpoint (xs) {
            flex-wrap: wrap;
        }
        .col-1 {
            width: 50%;
            @include breakpoint (xs) {
                width: 100%;
            }
            h2 {
                font-size: 48px;
                color: #121619;
            }
            p {
                font-size: 18px;
                color: #121619;
            }
        }
        .col-2 {
            width: 50%;
            @include breakpoint (xs) {
                width: 100%;
                padding-top: 25px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                // max-width: 330px;
                max-height: 360px;
                width: 100%;
            }
        }
    }
}
.state-report-bar-container {
    @include fp(padding-top, 10, 25);
    @include fp(padding-bottom, 10, 25);
    @include fp(padding-left, 10, 25);
    @include fp(padding-right, 10, 25);
    background: #f2f4f8;
    width: 95%;
    margin: 0 auto;
    max-width: 1280px;
    .bars {
        display: flex;
        .bar {
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 65px;
            @include fp(font-size, 12, 16);
        }
    }
}
.state-report-detail-main {
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
    .node {
        
        display: flex;
        margin: 80px 0;
        @include breakpoint (xs) {
            flex-wrap: wrap;
        }
        .col-1 {
            position: relative;
            width: 50%;
            @include breakpoint (xs) {
                width: 100%;
            }
            .wrapper {
                background-color: #dde1e6;
                position: absolute;
                width: 100%;
                height: 85%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                &.stat-background {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        .col-2 {
            width: 50%;
            box-shadow: 0 4px 8px transparentize($color: #000000, $amount: .73);
            @include breakpoint (xs) {
                width: 100%;
            }
            .box-container {
                padding: 40px 65px;
                @include breakpoint (xs) {
                    padding: 25px 25px;
                }
                .box {
                    border: 1px solid #c1c7cd;
                    margin: 12px 0;
                    padding: 25px 10px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    flex-wrap: wrap;
                    
                    
                    h3 {
                        width: 100%;
                        font-size: 24px;
                        color: #121619;
                    }
                    h2 {
                        width: 100%;
                        font-size: 40px;
                        color: #5089C1;
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .circle {
                            // background: #bed9ec;
                            // border-radius: 100%;
                            // width: 100px;
                            // height: 100px;
                            // display: flex;
                            // justify-content: center;
                            // align-items: center;
                            color: $color__accent;
                            position: relative;
                            padding-right: 20px;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 4px;
                                height: 100%;
                                background: #CF603F;
                            }
                        }
                    }
                    h4 {
                        width: 100%;
                        font-size: 18px;
                        color: $color__accent;
                        margin-bottom: 15px;
                    }
                    p {
                        width: 100%;
                        color: #121619;
                        font-size: 16px;
                        line-height: 1;
                        margin-bottom: 7px;
                    }
                }
            }
        }
        &.body-left {
            flex-direction: row-reverse;
        }
    }
    .bar-chart {
        display: flex;
        .bars {
            width: 75px;
            margin: 0 15px;
            .bar-top {
                color: $color__accent;
                margin-bottom: 10px;
                span {
                    font-weight: 700;
                }
            }
            .bar-mid {
                width: 90%;
                margin: 0 auto;
                display: flex;
                align-content: flex-end;
                justify-content: center;
                align-items: flex-end;
                height: 50px;
                position: relative;
                overflow: hidden;
                .bar-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #2A4173;
                    &:nth-child(2) {
                        background: #375B91;
                    }
                    &:nth-child(3) {
                        background: #3E6CA2;
                    }
                }
                p {
                    color: $white !important;
                    margin-bottom: 3px !important;
                }
            }
            &:nth-child(2) {
                .bar-mid .bar-container {
                    background: #375B91;
                }
            }
            &:nth-child(3) {
                .bar-mid .bar-container {
                    background: #3E6CA2;
                }
            }
            &:nth-child(4) {
                .bar-mid .bar-container {
                    background: #6a9ad2;
                }
            }
            .bar-bot {
                min-height: 50px;
                margin-top: 5px;
                p {
                    margin-bottom: 0 !important;
                    color: #121619;
                }
            }
        }
    }
}
.side-chart {
    background: #e4f0f7;
    padding: 30px;
    width: 560px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.left {
        margin: 3px 30px 0 -20%;
        float: left;
    }
    &.right {
        margin: 3px -20% 0 30px;
        float: right;
    }
    @include breakpoint (xs) {
        float: none !important;
        margin: 0 !important;
        width: auto !important;
    }
    img {
        max-width: 210px;
        width: 100%;
        margin-bottom: 25px;
    }
    h4 {
        font-size: 18px;
        line-height: 32px;
        color: $color__accent;
    }
    p {
        font-size: 16px;
        color: $color__accent !important;
        line-height: 24px;
    }
}

.recommendations-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px 0 50px;
    width: 95%;
    .main-copy {
        padding-top: 50px;
        padding-bottom: 60px;
        max-width: 800px;
        margin: 0 auto;
    }
    .recommendations-container {
        .recommendations-carousel {
            padding: 25px 0 0;
            margin-bottom: -2px;
            .owl-dots {
                display: none;
            }
            .tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: none;
                border-left: none;
                border-right: none;
                position: relative;
                @include fp(padding-top,10, 25);
                @include fp(padding-bottom,10, 25);
                img {
                    width: 90%;
                }
                .border-box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p {
                    color: $white;
                    @include fp(font-size, 18, 24);
                    text-align: center;
                    line-height: 1.3;
                    width: 90%;
                }
                &.tab-open {
                    background: $white;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 2px;
                        height: calc(100% + 25px);
                        background: #c1c7cd;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 2px;
                        height: calc(100% + 25px);
                        background: #c1c7cd;
                    }
                    .border-box {
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 2px;
                            background: #c1c7cd;
                        }
                    }
                }
            }
        }
        .recommendations-tabs {
            border: 2px solid #c1c7cd;
            .tabs {
                display: none;
                &.tab-open {
                    display: block;
                }
                .tab-section {
                    padding: 30px 25px;
                    .small-title {
                        font-size: 13px;
                        color: #878d96;
                        font-weight: 700;
                    }
                    .tab-title {
                        @include fp(font-size, 32, 48);
                        @include fp(line-height, 42, 56);
                        color: #121619;
                        text-align: left;
                        width: 95%;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -20px;
                            background: #99c2e0;
                            height: 6px;
                            width: 94px;
                        }
                    }
                    .tab-body {
                        padding-top: 10px;
                        h2 {
                            @include fp(font-size, 26, 32);
                            @include fp(line-height, 36, 48);
                            color: #121619;
                        }
                        p {
                            color: #121619;
                            line-height: 32px;
                        }
                        .row {
                            display: flex;
                            margin: 50px 0;
                            @include breakpoint (xs) {
                                flex-wrap: wrap;
                            }
                            .col-1 {
                                padding-right: 15px;
                                width: calc(100% - 350px);
                                @include breakpoint (xs) {
                                    width: 100%;
                                }
                                @include breakpoint (xs) {
                                    padding-right: 0;
                                }
                            }
                            .col-2 {
                                background: #F2F4F8;
                                width: 350px;
                                @include breakpoint (xs) {
                                    width: 100%;
                                }
                                @include fp(padding-top,25, 40);
                                @include fp(padding-bottom,25, 40);
                                @include fp(padding-left,25, 40);
                                @include fp(padding-right,25, 40);
                                p {
                                    color: $color__accent;
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                ul {
                                    padding-left: 20px;
                                    li {
                                        color: $color__accent;
                                        font-size: 18px;
                                        line-height: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.front {
    .block__title {
        font-size: 32px;
        text-align: center;
        max-width: 920px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .map-container {
        padding-bottom: 75px;
        .map-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            text-align: center;
            color: #121619;
        }
        .map-subtitle {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #121619;
        }
        .map-index {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            @include breakpoint (xs) {
                flex-wrap: wrap;
                justify-content: center;
            }
            > * {
                width: calc(100% / 6);
                padding-right: 5px;
                @include breakpoint (xs) {
                    width: calc(100% / 3);
                    padding-bottom: 5px;
                }
            }
            > p {
                font-size: 15px;
                color: #121619;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 0;
            }
            .index-box {
                display: flex;
                align-items: center;
                .box-color {
                    width: 25px;
                    height: 15px;
                    margin-right: 3px;
                }
                p {
                    font-size: 15px;
                    color: #121619;
                    line-height: 1;
                    margin-bottom: 0;
                }
            }
        }
        /* The container must be positioned relative: */
        .map-select {
            position: relative;
            height: 55px;
            width: 250px;
            margin: 0 auto 25px;
        }
        
        .map-select select {
            display: none; /*hide original SELECT element: */
        }
        
        .select-selected {
            background-color: $white;
        }
        
        /* Style the arrow inside the select element: */
        .select-selected:after {
            position: absolute;
            content: "";
            top: 25px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #121619 transparent transparent transparent;
        }
        
        /* Point the arrow upwards when the select box is open (active): */
        .select-selected.select-arrow-active:after {
            border-color: transparent transparent #121619 transparent;
            top: 20px;
        }
        
        /* style the items (options), including the selected item: */
        .select-items div,.select-selected {
            color: #121619;
            // padding: 8px 16px;
            border: 1px solid #989898;
            // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            height: 55px;
        }
        
        /* Style items (options): */
        .select-items {
            position: absolute;
            background-color: $white;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }
        
        /* Hide the items when the select box is closed: */
        .select-hide {
            display: none;
        }
        
        .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .map-selections {
            visibility: hidden;
            height: 0;
            &.active {
                visibility: visible;
                height: 100%;
            }
            .maps {
                margin-top: 25px;
            }
        }
        .row {
            .col-1 {
                width: 50%;
                background: #F2F4F8;
                padding: 25px;
                margin: 0 5px;
                @include breakpoint (xs) {
                    width: 100%;
                }
            }
            .col-2 {
                width: 50%;
                background: #F2F4F8;
                padding: 25px;
                margin: 0 5px;
                @include breakpoint (xs) {
                    width: 100%;
                }
                .map-title {
                    color: #cf603f;
                    margin-top: 25px;
                }
                .map-subtitle {
                    color: #cf603f;
                    margin-bottom: 60px;
                }
            }
        }
        .maps {
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        @include fp(font-size, 40, 72);
        color: #13151a;
    }
}

.states-case-studies {
    padding-bottom: 75px;
}